.game-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 88vh;
    padding: 30px 0;
}

.game-inactive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;

    input {
        margin: 45px 0 35px;
        width: 30%;
    }

    button, a {
        margin-top: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        height: 70px;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;

        &:hover {
            color: unset;
        }
    }
}

.game-active {
    margin-top: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h5 {
        height: 15px;
    }
}

.life-point-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.life-point-content {
    margin-top: 10px;
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.life-points-bar {
    border: 1px solid #fff;
    width: 80%;
    height: 50px;

    h5 {
        font-weight: bold;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 33%;
        height: 50px;
    }
}

.player-commands-container {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 120px;
}

.player-commands-btns {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 5px 5px 20px;
    button {
        width: 20%;
        height: 45px;
        color: #fff !important;
        font-weight: bold;

        &:hover {
            color: unset;
        }
    }
}

.game-log {
    width: 95%;
    height: 33%;
    border: 1px solid #fff;
    border-radius: 5px;
    overflow: auto;
    padding: 10px;

    p {
        margin: 0;
        padding: 0;
    }
}
