.home-page-container {
    justify-self: center;
    padding: 40px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        text-decoration: none;
        color: #b5d23b;
    }
    
    h1 {
        margin: 20px;
    }

    h5 {
        width: 70%;
        text-align: justify;
    }

    .card-base {
        display: flex;
        flex-direction: column;
        padding: 55px 45px 15px;
    }
}

.home-description {
    span {
        padding: 30px;
        margin-bottom: 40px;
    }
}

.home-developer {
    align-self: flex-end;
}