.navbar-container {
    height: 70px;
    width: 100%;
    background-color: #b5d23b;
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
        width: 70%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
        margin-bottom: 0;
        margin-left: 0;
    }

    a {
        text-align: center;
        text-decoration: none;
        color: #FFF;
        text-transform: uppercase;

        &:hover, &.active {
            font-weight: bold;
        }
    }
}