.pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;

    a:focus {
        outline: none;
    }
}
.pagination-previous {
    transform: rotate(-180deg);
    margin-right: 25px;
}
.page-active {
    cursor: pointer;
    svg {
        color: #b5d23b;
    }
}

.page-inactive {
    color: #fff;
    pointer-events: none;

    svg {
        color: #6c6c6c;
    }
}

.pagination-next {
    margin-left: 15px;
}
.pagination-item {
    width: 35px;
    height: 35px;
    background-color: #6c6c6c;
    border-radius: 50%;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 10px;
    text-decoration: none;

    &.active {
        background: #b5d23b;
    }

    &:hover {
        color: #ffffff;
    }
}

.pagination {
    align-items: center;
}
