@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap');

* {
  font-family: 'Heebo', sans-serif;
}
  
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
  font-weight: 700;
}

p {
  letter-spacing: -0.015em;
}

.card-base {
  background-color: #6C6C6C;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: 80%;
  height: 100%;
}