.ranking-page-container {
    width: 100%;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ranking-table {
    width: 100%;
    background-color: #b5d23b;
    border-bottom: 10px solid #b5d23b;
    border-radius: 5px;

    thead {
        tr {
            height: 50px;
        }
        th {
            text-transform: uppercase;
        }
        th:first-child {
            padding-left: 50px;
            border-top-left-radius: 10px;
        }

        th:last-child {
            border-top-right-radius: 10px;
        }
    }

    tbody {
        td:first-child {
            padding-left: 50px;
        }
    
        tr {
            height: 45px;
            color: #fff;
            font-size: 18px;
        }
    
        tr:nth-child(odd) {
            background-color: #6C6C6C;
        }
    
        tr:nth-child(even) {
            background-color: #525252;
        }
    }
}

.card-base {
    margin-bottom: 15px;
}
